body {
    width: 1024px;
    height: 768px;
    background-color: black;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

img {
    height: 50px;
}

ul {
    color: lightgray;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    cursor: pointer;
    padding-right: 100px;
    padding-left: 100px;
    border-right: 1px solid lightgray;
}

li:last-child {
    border: none;
}

.display-wrapper {
    display: none;
    background-image: url(./background_default.png);
    background-repeat: no-repeat;
}

.head-signals {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}

.first-line-signals, .second-line-signals,
.third-line-signals, .four-line-signals,
.five-line-signals, .six-line-signals,
.seven-line-signals, .eight-line-signals,
.nine-line-signals {
    position: relative;
    top: 39px;
    display: flex;
    justify-content: space-between;
}

.center-signals {
    width: 355px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.center-signals-text {
    justify-content: center;
    font-size: 48px;
}

.center-bottom-signals {
    width: 270px;
    display: flex;
    justify-content: space-between;
    padding-right: 110px;
}

.second-line-signals {
    top: 45px
}

.third-line-signals {
    top: 51px;
}

.four-line-signals {
    top: 53px;
}

.five-line-signals {
    top: 64px;
}

.six-line-signals {
    top: 73px;
}

.seven-line-signals {
    top: 79px;
}

.eight-line-signals {
    top: 85px;
}

.nine-line-signals {
    width: 57%;
    margin: auto;
    top: 89px;
}

.speedometer-container {
    position: relative;
    top: 60px;
    width: 600px;
    height: 600px;
    border: 3px solid rgba(255, 0, 0, 0);
    border-radius: 50%;
    margin: auto;
}

.speedometer-container canvas {
    display: block;
    width: 250px !important;
    height: 250px !important;
    touch-action: none;
    margin: auto;
    padding-top: 160px;
}

.speedometer-additional-container {
    position: relative;
    top: -535px;
    width: 720px;
    height: 720px;
    border: 3px solid rgba(0, 0, 255, 0);
    border-radius: 50%;
    margin: auto;
}

.arrow-container {
    transition: 0.5s;
    position: relative;
    width: 595px;
}

.arrow-speed-container {
    transform: rotate(-30deg);
    top: 293px;
}

.arrow-turns-container {
    transform: rotate(30deg);
    top: 293px;
    display: flex;
    justify-content: flex-end;
}

.arrow-bar-container {
    position: relative;
    width: 720px;
}

.arrow-bar-1-container {
    transition: 0.5s;
    transform: rotate(-30deg);
    top: 286px;
    left: -60px;
}

.arrow-bar-2-container {
    transition: 0.5s;
    transform: rotate(18deg);
    top: 280px;
    left: -60px;
}

.arrow-oil-container {
    transition: 0.5s;
    transform: rotate(30deg);
    top: 273px;
    left: -60px;
    display: flex;
    justify-content: flex-end;
}

.arrow-temperature-container {
    transition: 0.5s;
    transform: rotate(-18deg);
    top: 274px;
    left: -59px;
    display: flex;
    justify-content: flex-end;
}

.arrow-speed, .arrow-turns {
    width: 30px;
    height: 5px;
    box-shadow: 0 0 10px red;
    background: red;
}

.arrow-bar-1, .arrow-bar-2, .arrow-oil, .arrow-temperature {
    width: 20px;
    height: 5px;
    box-shadow: 0 0 10px red;
    background: red;
}

.arrow-oil, .arrow-temperature {
    width: 15px;
}


.menu {
    border: 2px solid gray;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-content {
    border: 2px solid gray;
    margin: auto;
}